#wpadminbar #wp-admin-bar-storepilot .ab-icon:before {
    content: '\f134';
    top: 3px;
}

#wpwrap {
    display: flex;
}

#wpcontent {
    position: absolute;
    width: calc(100% - 160px);
    height: 100%;
    padding: 0 !important;
    flex: 1 1 auto;
    overflow: auto;
}

.folded #wpcontent {
    width: calc(100% - 36px);
}

#wpbody, #wpbody-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-bottom: 0;
    overflow: auto !important;
}

.auto-fold #wpfooter, #wpfooter {
    display: none;
}

dd, li {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 782px) {
    #wpcontent {
        height: 100vh;
    }

    .sp-footer-wrapper {
        width: 100%;
    }

    .sp-development #wpcontent {
        height: 100vh;
    }

    .auto-fold #wpfooter, #wpfooter {
        display: none;
    }
}

.media-modal {
    z-index: 100000000000 !important;
}

.ab-icon.storepilot::before {
    top: 2px;
    content: '\\f180';
}

/** Override WP FORMS **/
input[type=text], input[type=search], input[type=radio], input[type=tel], input[type=time], input[type=url], input[type=week], input[type=password], input[type=checkbox], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=email], input[type=month], input[type=number], select, textarea {
    box-shadow: inherit !important;
    outline: inherit !important;
    transition: inherit !important;
}

input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
    box-shadow: inherit !important;
}

input[type=url], input[type=email] {
    direction: inherit !important;
}

input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
    background-color: inherit !important;
}

input[type=number] {
    height: inherit !important;
    line-height: inherit !important;
}

input[type=radio], input[type=checkbox] {
    border: inherit !important;
    clear: inherit !important;
    cursor: pointer;
    display: inherit !important;
    line-height: inherit !important;
    height: inherit !important;
    margin: inherit !important;
    outline: inherit !important;
    padding: inherit !important;
    text-align: inherit !important;
    vertical-align: inherit !important;
    width: inherit !important;
    min-width: inherit !important;
    -webkit-appearance: inherit !important;
    box-shadow: inherit !important;
    transition: none !important;
}

input[type=radio] {
    border-radius: inherit !important;
    margin-right: inherit !important;
    line-height: inherit !important;
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before {
    float: inherit !important;
    display: inherit !important;
    vertical-align: inherit !important;
    width: inherit !important;
    speak: inherit !important;
    -webkit-font-smoothing: inherit !important;
    -moz-osx-font-smoothing: inherit !important;
}